.places__like-place-btn {
  background: url(../../../images/like-icon.svg) center no-repeat;
  border: none;
  padding: 0;
  width: 22px;
  height: 19px;
  margin: 30px 0 25px;
  cursor: pointer;
  transition: opacity .3s;
}

.places__like-place-btn:hover {
  opacity: 0.5;
}

