.profile__add-button {
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: opacity .3s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .profile__add-button {
    margin: 36px 0 0;
  }
}
