.profile__edit-profile {
  width: 10px;
  height: 10px;
  padding: 7px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity .3s;
  position: absolute;
  top: 14px;
  right: -45px;
}

.profile__edit-profile:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .profile__edit-profile {
    top: 38px;
  }
}

@media (max-width: 480px) {
  .profile__edit-profile {
    width: 8px;
    height: 8px;
    padding: 5px;
    top: 32px;
    right: -35px;
  }
}
